// MEDIA QUERIES

// -- FIRST BREAKPOINT -- //
@media screen and (max-width: 800px) {
	// navigation queries
	.navbar {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 90;
		&__item {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			min-width: 95%;
			margin: 0 auto;
			align-items: center;
			&--checkbox {
				display: block;
				i {
					font-size: 4rem;
				}
			}
		}
	}
}
