// MEDIA QUERIES

@media screen and (max-width: 1050px) {
	// BLOG SECTION
	.grid {
		&__item {
			width: 50%;
			border-radius: 0;
		}
	}

	// ABOUT SECTION
	.about__text-container,
	.about__links-container {
		width: 50%;
	}

	.about__social-container {
		width: 100%;
		padding: 50px 0;
		justify-content: center;
	}
}

@media screen and (max-width: 800px) {
	// NAVIGATION
	.about,
	.blog,
	.partners,
	.about {
		padding: 50px 0;
	}
	.logo-container {
		display: block;
	}
	.navbar {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 90;
		&__menu {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			min-width: 95%;
			margin: 0 auto;
			align-items: center;
		}
		&__item {
			display: none;
			&--checkbox {
				margin-top: 50px;
				display: block;
			}
		}
	}

	// BLOG SECTION
	.grid {
		&__item {
			width: 100%;
		}
	}

	// ABOUT SECTION
	.about__text-container,
	.about__links-container,
	.about__social-container {
		width: 100%;
		text-align: center;
	}

	.about__social-container {
		padding-bottom: 0;
	}
}
