// MEDIA QUERIES

@media screen and (max-width: 1050px) {
	// BLOG SECTION
	.grid {
		&__item {
			width: 50%;
			border-radius: 0;
		}
	}
}

@media screen and (max-width: 800px) {
	// NAVIGATION
	.logo-container {
		display: block;
	}
	.navbar {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 90;
		&__menu {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			min-width: 95%;
			margin: 0 auto;
			align-items: center;
		}
		&__item {
			display: none;
			&--checkbox {
				margin-top: 50px;
				display: block;
			}
		}
	}

	// BLOG SECTION
	.grid {
		&__item {
			width: 100%;
		}
	}
}
