header {
	background: $white-shade;
}
.navbar,
.navbar__menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	ul {
		font-size: 1.8rem;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		&--checkbox {
			display: none;
			i {
				font-size: 3.5rem;
				cursor: pointer;
			}
		}
	}
	&__link {
		color: $dark-blue;
		text-transform: uppercase;
		line-height: 2.9rem;
	}
}

.logo-container {
	width: 350px;
	padding-right: 50px;
}

#toggle__nav {
	display: none;
}

.navbar__mobile {
	padding-top: 30px;
	width: 400px;
	max-height: 100vh;
	min-height: 100vh;
	background-color: $black-shade;
	position: fixed;
	overflow-y: scroll; /* enable scrolling on a landscape resolution */
	-webkit-overflow-scrolling: touch;
	right: 0;
	top: 0;
	z-index: 100;
	transform: translateX(100%);
	transition: transform 0.5s ease;
	&__item--close {
		text-align: right;
		label {
			padding-right: 50px;
			cursor: pointer;
		}
	}
	&__item:first-of-type,
	&__item:last-of-type {
		border: none;
	}
	&__item {
		color: $white-shade;
		font-size: 3rem;
		padding: 20px;
		border-bottom: 1px solid $white-shade;
		a {
			color: lighten($yellow-shade, 10%);
			text-decoration: none;
			text-transform: uppercase;
			padding-right: 5px;
			transition: color 0.3s;
			&:hover {
				color: $white-shade;
			}
		}
	}
}

input[type="checkbox"]:checked ~ .navbar__mobile {
	transform: translateX(0);
}
