.blog {
	&__title {
		@include heading(2, 2rem, 700, $yellow-shade);
	}
}

.grid {
	display: grid;
	flex-wrap: wrap;
	&__item {
		width: 33.33%;
		height: 400px;
		--height2 {
			height: 800px;
		}
		--width2 {
			width: 100%;
		}
		&:hover {
			transform: scale(1.05);
			transition: 300ms ease;
		}
	}
}

.anonymous {
	background: url(../assets/anonymous.jpg);
}

.mariam {
	background: url(../assets/mariam.jpg);
}

.yasmine {
	height: 800px !important;
}

.jay-z {
	background: url(../assets/jay-z.png);
}

.blog-card .story {
	background: url(../assets/story.png);
	background-repeat: no-repeat;
}

.petition {
	background: url(../assets/petition.png);
}

.anonymous,
.mariam,
.yasmine,
.jay-z,
.petition {
	background-size: cover;
	opacity: 0.8;
}
