// colours
$white-shade: #ebebec;
$dark-blue: #277394;
$yellow-shade: #f1ba15;
$aqua-green: #0ad3b4;
$blue-shade: #65c6d7;
$black-shade: #232323;
$dark-blue: #277394;

// social colors
$twitter-blue: #1da1f2;
$facebook-blue: #4267b2;
$instagram-magenta: #c32aa3;
$linkedin-blue: #4875b4;

// mixins
@mixin heading($lineHeight, $fontSize, $fontWeight, $color) {
	font-family: "Monsterrat", sans-serif;
	color: $color;
	font-size: $fontSize;
	line-height: $lineHeight;
	font-weight: $fontWeight;
}

@mixin text($lineHeight, $fontSize) {
	font-family: "Lato", sans-serif;
	font-size: $fontSize;
	line-height: $lineHeight;
}
